img{
    width: 70%;
    height: auto;
}

td, p, h1{
    text-align: center;
    color: white;
}

#intro{
    margin-top: 3%;
}

p{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 150%;
}

a{
    color: gold;
}
