img{
    width: 70%;
    height: auto;
}

td, p, h1{
    text-align: center;
    color: white;
}

#intro{
    margin-top: 50px;
}

p{
    margin-top: 0px;
    margin-left: 20em;
    margin-right: 20em;
}

a{
    color: gold;
}