img{
    width: 70%;
    height: auto;
}

td,h1{
    text-align: center;
    color:rgb(196, 211, 221);
}

p, #text h1{
    text-align: center;
    color: black;
}


#intro{
    margin-top: 3%;
}

p{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 150%;
}

a{
    color: rgb(12, 61, 121);
}


#text{
    margin-top: 10px;
    background-color: rgba(124, 160, 192, 0.906);
    padding-top: 20px;
    padding-bottom: 50px;
}