#title{
    text-align: center;
    color: white;
    font-size: 300%
}
#summary{
    float: right;
    width: 25%;
    margin-right: 5em;
}

#content{
    margin: auto;
    width: 100%;
}

fieldset{
    width: 50%;
    margin: 30px;
    padding: 30px;
}

#tax{
    text-align: right;
}

.total{
    font-weight: normal;
    color: white;
}

#code{
    text-align: right;
}
#review{
   margin-bottom: 15em;
}

legend{
    color: white;
    text-align: center;
}

label{
    color: white;
    padding: 10px;
    padding-left: 20px;
}

#sum{
    color: white;
    text-align: right;
    font-weight: bold;
}

table, .total{
    margin-left: auto;
    margin-right: auto;
}

td{
    width: 85%;
    color: white;
}

.items{
    width: 100%;
}

#payment{
    display: inline;
}

#card, #card_title, .total, legend, #sum, td{
    font-size: 150%;
}

#card{
    text-align: center;
    color: white;
}

a{
    color: white;
}

#buy{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#edit_cart{
    text-align: right;
}

#social_media{
    clear: both;
}
