/* contact_us page */
#contact_us {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 0%;
  margin-top: 1%;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  width: 98%;
  height: 72%;
  background-color: rgb(196, 211, 221);
  opacity: 90%;
  float: left;
  text-align: center;
}
#contact_us.center {
  text-align: center;
}

.no_top_margin {
  margin-top: -5px;
}

.top_margin {
  margin-top: 20px;
}

/* fonts */
.monospace {
  font-family: "Liberation Mono", "Courier New", monospace;
  font-weight: 100;
}
.maroon {
  color: maroon;
}
.black {
  color: black;
}

p {
  line-height: 60%;
}
