body{    background-color: gray}
#main {
    margin-left:10%;
    margin-right: 10%;
    margin-bottom:0%;
    margin-top:0%;
    position: absolute;
    width: 80%;
    height:100%;
    background-color:  rgb(20,25,47); 
    opacity: 90%;
}

#text_nav{
    width: 80%;
    height: 50px;
    float: left;
}
#text_nav ul ul{margin:0; padding:0; display:none; position: absolute; top: 100%;width: 205px; z-index: 2;}
#text_nav ul ul li{float:none;}
#text_nav ul li:hover > ul{display:block;}
.top_nav ul{list-style-type:none;padding:0;margin:0;position: relative;}
#text_nav li {
    float:left; 
    width: 205px; 
    text-align: center; 
    line-height: 50px;   
    font-weight: bold;
    font-size: 18px;
    padding: 0; 
    margin: 0;
    color:white;
}
#text_nav > ul::after {content: "";display: block;clear: both; }
#text_nav li:hover{background-color:lightsteelblue;}
#text_nav a{
    text-decoration: none; 
    color:white;
    font-size: 18px;
}
#text_nav #currPage{color:black}
#img_nav {float: right;}
#pfp {height: 50px;
width: 50px;}