
#myAccount {
    margin-top: 3em;
    background-color:slategray;
    height: 100%;
}
#accountInfo {
    padding: 2em;
}
.infoHeaders {
    color: black;
}
.info {
    font-weight: bold;
}

/* --- Home.css --- */
body {
    background-color: gray;
  }
  
  #icon {
    width: 10%;
    height: auto;
  }
  
  #title_logo{
    width: 30%;
    height: auto;
    padding-bottom: 2%;
  }
  
  #main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    width: 80%;
    min-height: 100%;
    background-color: rgb(20, 25, 47);
    position: relative;
    float: left;
    opacity: 90%;
    padding-bottom: 0%;
    margin-bottom: 1%;
  
  }
  
  #text_nav {
    width: 100%;
    float: left;
  }
  #text_nav ul ul {
    padding: 0;
    display: none;
    position: absolute;
    top: 100%;
    width: 10%;
    z-index: 2;
  }
  #text_nav ul ul li {
    float: none;
    width: 100%;
    font-size: 100%;
  }
  #text_nav ul li:hover > ul {
    display: block;
  }
  #text_nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
  }
  #text_nav li {
    text-align: center;
    line-height: 200%;
    font-weight: bold;
    font-size: 150%;
    padding: 0;
    margin: 0;
    color: white;
  }
  #text_nav li.li_left {
    float: left;
    width: 15%;
  }
  #text_nav li.li_right {
    float: right;
    width: 10%;
  }
  #text_nav > ul::after {
    content: "";
    display: block;
    clear: both;
  }
  #text_nav li:hover {
    background-color: steelblue;
  }
  #text_nav a {
    text-decoration: none;
    color: white;
  }
  #text_nav #currPage {
    background-color: steelblue;
  }
  #pfp,
  #cart {
    width: 30%;
  }
  .games {
    display: block;
    height: 30%;
    width: 80%;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #games {
    margin-top:4%;
  }
  
  #social_media {   
    line-height: 100%;
    width: 100%;
    background-color: steelblue;
    opacity: 90%;
    text-align: center;
    float: left;
  }
  
  #social_media p {color: white;font-size: 100%;}
  
  img.social_media {
    padding: .5%;
    padding-bottom: .5%;
    width:3%;
    text-decoration: none;
  }
  
  .social_media:hover {
      opacity: 0.7;
  }