.error {
  text-align: center;
}

.center {
  text-align: center;
  margin-top: 2%;
}

fieldset {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  display: inline;
}
input {
  float: left !important;
}
.form {
  align-items: center;
}
label {
  text-align: right;
  float: left;
  margin-right: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 150px;
}

.reg_input {
  float: left;
  width: 200px;
}

.login_button {
  width: 100px;
  height: 40px;
  background-color: steelblue;
  color: white;
  cursor: pointer;
}

/* contact_us page */
#contact_us {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
  margin-top: 1%;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 5%;
  position: relative;
  width: 80%;
  min-height: 100%;
  background-color: rgb(196, 211, 221);
  opacity: 90%;
  float: left;
  text-align: center;
}

#register {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
  margin-top: 1%;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 5%;
  position: relative;
  width: 80%;
  min-height: 100%;
  background-color: rgb(196, 211, 221);
  opacity: 90%;
  float: left;
  text-align: left;
}

#contact_us.center {
  text-align: center;
}

.no_top_margin {
  margin-top: -5px;
}

.top_margin {
  margin-top: 20px;
}

/* fonts */
.monospace {
  font-family: "Liberation Mono", "Courier New", monospace;
  font-weight: 100;
}
.maroon {
  color: maroon;
}
.black {
  color: black;
}

p {
  line-height: 80%;
}

.name_div {
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  text-align: left;
  padding-bottom: 10px;
}

.left_div {
  width: 40%;
  height: 50px;
  display: inline-block;
  text-align: left;
  padding-bottom: 100px;
}

.center_div {
  width: 40%;
  height: 50px;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
}

.text_left {
  text-align: center;
}

.name_input {
  width: 120px;
  height: 22px;
}

.additional_input {
  width: 260px;
  height: 70px;
}

.message_input {
  width: 260px;
  height: 45px;
}

.email_input {
  width: 260px;
  height: 25px;
}

.addButton {
  margin-top: 12px;
  width: 150px;
  height: 40px;
  font-weight: bold;
}

#contact_us_field {
  border: none;
}

span {
  color: red;
  margin-left: 5px;
  text-align: center;
}

.yes_top_margin {
  position: absolute;
  margin-top: 1000px;
}
